<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>标签页</title>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

</head>

<body>

	<ul class="nav nav-pills">

		<li class="active"><a href="#n1" data-toggle="tab">单选题</a></li>

		<li><a href="#n2" data-toggle="tab">多选题</a></li>

		<li><a href="#n3" data-toggle="tab">判断题</a></li>

		<li><a href="#n4" data-toggle="tab">其他</a></li>

	</ul>

	<div class="tab-content" style="padding: 20px;">

		<div class="tab-pane active fade in" id="n1">
		<div>
		<span class="l"><a href="javascript:;" onclick="del()"
			class="btn btn-danger radius" id="plid"> 批量删除</a> <a title="添加"
			href="javascript:;">添加</a></span> <span class="r">共有数据：<strong
			id="ts">0</strong> 条
		</span>
	</div>

	<table id="tabone">
		<tr>
		    <th><input type="checkbox" id="all" value=""></th>
		    <th>题号</th>
			<th>题目内容</th>
			<th>答案A</th>
			<th>答案B</th>
			<th>答案C</th>
			<th>答案D</th>
			<th>正确答案</th>
			<th>难易程度</th>
			<th>类别</th>
			<th>删除</th>
			
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>

		</div>

		<div class="tab-pane fade" id="n2">
			<div>
		<span class="l"><a href="javascript:;" onclick="delmuch()"
			class="btn btn-danger radius" id="plid"> 批量删除</a> <a title="添加"
			href="javascript:;">添加</a></span> <span class="r">共有数据：<strong
			id="ts">0</strong> 条
		</span>
	</div>

	<table id="tabmuch">
		<tr>
			<th><input type="checkbox" id="allmuch" value=""></th>
			<th>题号</th>
			<th>题目内容</th>
			<th>答案A</th>
			<th>答案B</th>
			<th>答案C</th>
			<th>答案D</th>
			<th>答案E</th>
			<th>正确答案</th>
			<th>难易程度</th>
			<th>类别</th>
			<th>删除</th>

		</tr>
		<tr>
			<td></td>
		</tr>
	</table>

		</div>

		<div class="tab-pane fade" id="n3">
		<div>
		<span class="l"><a href="javascript:;" onclick="deljudge()"
			class="btn btn-danger radius" id="plid"> 批量删除</a> <a title="添加"
			href="javascript:;">添加</a></span> <span class="r">共有数据：<strong
			id="ts">0</strong> 条
		</span>
	</div>

	<table id="tabjudge">
		<tr>
			<th><input type="checkbox" id="alljudge" value=""></th>
			<th>题号</th>
			<th>题目内容</th>
			<th>正确答案</th>
			<th>难易程度</th>
			<th>类别</th>
			<th>删除</th>

		</tr>
		<tr>
			<td></td>
		</tr>
	</table>

		</div>

		<div class="tab-pane fade" id="n4">
			查询类别表 <img src="img/s4.jpg" />

		</div>

	</div>

	<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>

	<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>

</body>

</html>