<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhcc.ict.manage.technology.test.dao.ExamQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.dhcc.ict.manage.technology.test.pojo.ExamQuestion" >
    <constructor >
      <idArg column="exam_question_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="technology_one" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="technology_much" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="technology_juage" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    exam_question_id, technology_one, technology_much, technology_juage
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dhcc.ict.manage.technology.test.pojo.ExamQuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exam_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam_question
    where exam_question_id = #{examQuestionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam_question
    where exam_question_id = #{examQuestionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dhcc.ict.manage.technology.test.pojo.ExamQuestionExample" >
    delete from exam_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dhcc.ict.manage.technology.test.pojo.ExamQuestion" >
    insert into exam_question (exam_question_id, technology_one, technology_much, 
      technology_juage)
    values (#{examQuestionId,jdbcType=INTEGER}, #{technologyOne,jdbcType=VARCHAR}, #{technologyMuch,jdbcType=VARCHAR}, 
      #{technologyJuage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dhcc.ict.manage.technology.test.pojo.ExamQuestion" >
    insert into exam_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="examQuestionId != null" >
        exam_question_id,
      </if>
      <if test="technologyOne != null" >
        technology_one,
      </if>
      <if test="technologyMuch != null" >
        technology_much,
      </if>
      <if test="technologyJuage != null" >
        technology_juage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="examQuestionId != null" >
        #{examQuestionId,jdbcType=INTEGER},
      </if>
      <if test="technologyOne != null" >
        #{technologyOne,jdbcType=VARCHAR},
      </if>
      <if test="technologyMuch != null" >
        #{technologyMuch,jdbcType=VARCHAR},
      </if>
      <if test="technologyJuage != null" >
        #{technologyJuage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dhcc.ict.manage.technology.test.pojo.ExamQuestionExample" resultType="java.lang.Integer" >
    select count(*) from exam_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update exam_question
    <set >
      <if test="record.examQuestionId != null" >
        exam_question_id = #{record.examQuestionId,jdbcType=INTEGER},
      </if>
      <if test="record.technologyOne != null" >
        technology_one = #{record.technologyOne,jdbcType=VARCHAR},
      </if>
      <if test="record.technologyMuch != null" >
        technology_much = #{record.technologyMuch,jdbcType=VARCHAR},
      </if>
      <if test="record.technologyJuage != null" >
        technology_juage = #{record.technologyJuage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update exam_question
    set exam_question_id = #{record.examQuestionId,jdbcType=INTEGER},
      technology_one = #{record.technologyOne,jdbcType=VARCHAR},
      technology_much = #{record.technologyMuch,jdbcType=VARCHAR},
      technology_juage = #{record.technologyJuage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhcc.ict.manage.technology.test.pojo.ExamQuestion" >
    update exam_question
    <set >
      <if test="technologyOne != null" >
        technology_one = #{technologyOne,jdbcType=VARCHAR},
      </if>
      <if test="technologyMuch != null" >
        technology_much = #{technologyMuch,jdbcType=VARCHAR},
      </if>
      <if test="technologyJuage != null" >
        technology_juage = #{technologyJuage,jdbcType=VARCHAR},
      </if>
    </set>
    where exam_question_id = #{examQuestionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhcc.ict.manage.technology.test.pojo.ExamQuestion" >
    update exam_question
    set technology_one = #{technologyOne,jdbcType=VARCHAR},
      technology_much = #{technologyMuch,jdbcType=VARCHAR},
      technology_juage = #{technologyJuage,jdbcType=VARCHAR}
    where exam_question_id = #{examQuestionId,jdbcType=INTEGER}
  </update>
</mapper>