<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhcc.ict.manage.technology.test.dao.TechnologyJudgeMapper" >
  <resultMap id="BaseResultMap" type="com.dhcc.ict.manage.permission.pojo.TechnologyJudge" >
    <constructor >
      <idArg column="technology_judge_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="technology_judge_detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="technology_judge_true_answer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="technology_judge_complexity" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="technology_type_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    technology_judge_id, technology_judge_detail, technology_judge_true_answer, technology_judge_complexity, 
    technology_type_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dhcc.ict.manage.permission.pojo.TechnologyJudgeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from technology_judge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from technology_judge
    where technology_judge_id = #{technologyJudgeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from technology_judge
    where technology_judge_id = #{technologyJudgeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dhcc.ict.manage.permission.pojo.TechnologyJudgeExample" >
    delete from technology_judge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dhcc.ict.manage.permission.pojo.TechnologyJudge" >
    insert into technology_judge (technology_judge_id, technology_judge_detail, 
      technology_judge_true_answer, technology_judge_complexity, 
      technology_type_id)
    values (#{technologyJudgeId,jdbcType=INTEGER}, #{technologyJudgeDetail,jdbcType=VARCHAR}, 
      #{technologyJudgeTrueAnswer,jdbcType=VARCHAR}, #{technologyJudgeComplexity,jdbcType=VARCHAR}, 
      #{technologyTypeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dhcc.ict.manage.permission.pojo.TechnologyJudge" >
    insert into technology_judge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="technologyJudgeId != null" >
        technology_judge_id,
      </if>
      <if test="technologyJudgeDetail != null" >
        technology_judge_detail,
      </if>
      <if test="technologyJudgeTrueAnswer != null" >
        technology_judge_true_answer,
      </if>
      <if test="technologyJudgeComplexity != null" >
        technology_judge_complexity,
      </if>
      <if test="technologyTypeId != null" >
        technology_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="technologyJudgeId != null" >
        #{technologyJudgeId,jdbcType=INTEGER},
      </if>
      <if test="technologyJudgeDetail != null" >
        #{technologyJudgeDetail,jdbcType=VARCHAR},
      </if>
      <if test="technologyJudgeTrueAnswer != null" >
        #{technologyJudgeTrueAnswer,jdbcType=VARCHAR},
      </if>
      <if test="technologyJudgeComplexity != null" >
        #{technologyJudgeComplexity,jdbcType=VARCHAR},
      </if>
      <if test="technologyTypeId != null" >
        #{technologyTypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dhcc.ict.manage.permission.pojo.TechnologyJudgeExample" resultType="java.lang.Integer" >
    select count(*) from technology_judge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update technology_judge
    <set >
      <if test="record.technologyJudgeId != null" >
        technology_judge_id = #{record.technologyJudgeId,jdbcType=INTEGER},
      </if>
      <if test="record.technologyJudgeDetail != null" >
        technology_judge_detail = #{record.technologyJudgeDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.technologyJudgeTrueAnswer != null" >
        technology_judge_true_answer = #{record.technologyJudgeTrueAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.technologyJudgeComplexity != null" >
        technology_judge_complexity = #{record.technologyJudgeComplexity,jdbcType=VARCHAR},
      </if>
      <if test="record.technologyTypeId != null" >
        technology_type_id = #{record.technologyTypeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update technology_judge
    set technology_judge_id = #{record.technologyJudgeId,jdbcType=INTEGER},
      technology_judge_detail = #{record.technologyJudgeDetail,jdbcType=VARCHAR},
      technology_judge_true_answer = #{record.technologyJudgeTrueAnswer,jdbcType=VARCHAR},
      technology_judge_complexity = #{record.technologyJudgeComplexity,jdbcType=VARCHAR},
      technology_type_id = #{record.technologyTypeId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhcc.ict.manage.permission.pojo.TechnologyJudge" >
    update technology_judge
    <set >
      <if test="technologyJudgeDetail != null" >
        technology_judge_detail = #{technologyJudgeDetail,jdbcType=VARCHAR},
      </if>
      <if test="technologyJudgeTrueAnswer != null" >
        technology_judge_true_answer = #{technologyJudgeTrueAnswer,jdbcType=VARCHAR},
      </if>
      <if test="technologyJudgeComplexity != null" >
        technology_judge_complexity = #{technologyJudgeComplexity,jdbcType=VARCHAR},
      </if>
      <if test="technologyTypeId != null" >
        technology_type_id = #{technologyTypeId,jdbcType=INTEGER},
      </if>
    </set>
    where technology_judge_id = #{technologyJudgeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhcc.ict.manage.permission.pojo.TechnologyJudge" >
    update technology_judge
    set technology_judge_detail = #{technologyJudgeDetail,jdbcType=VARCHAR},
      technology_judge_true_answer = #{technologyJudgeTrueAnswer,jdbcType=VARCHAR},
      technology_judge_complexity = #{technologyJudgeComplexity,jdbcType=VARCHAR},
      technology_type_id = #{technologyTypeId,jdbcType=INTEGER}
    where technology_judge_id = #{technologyJudgeId,jdbcType=INTEGER}
  </update>
  
  <!--管理员添加  -->
  
  <select id="selectByLimitJudge" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from technology_judge where technology_type_id=#{testType,jdbcType=VARCHAR} limit #{startValue},#{countValue}
  </select>
</mapper>

