<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhcc.ict.manage.questionbank.dao.TechnologyTypeMapper" >
  <resultMap id="BaseResultMap" type="com.dhcc.ict.manage.questionbank.pojo.TechnologyType" >
    <constructor >
      <arg column="technology_type_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="technology_type_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    technology_type_id, technology_type_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dhcc.ict.manage.questionbank.pojo.TechnologyTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from technology_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.dhcc.ict.manage.questionbank.pojo.TechnologyTypeExample" >
    delete from technology_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dhcc.ict.manage.questionbank.pojo.TechnologyType" >
    insert into technology_type (technology_type_id, technology_type_name
      )
    values (#{technologyTypeId,jdbcType=INTEGER}, #{technologyTypeName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dhcc.ict.manage.questionbank.pojo.TechnologyType" >
    insert into technology_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="technologyTypeId != null" >
        technology_type_id,
      </if>
      <if test="technologyTypeName != null" >
        technology_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="technologyTypeId != null" >
        #{technologyTypeId,jdbcType=INTEGER},
      </if>
      <if test="technologyTypeName != null" >
        #{technologyTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dhcc.ict.manage.questionbank.pojo.TechnologyTypeExample" resultType="java.lang.Integer" >
    select count(*) from technology_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update technology_type
    <set >
      <if test="record.technologyTypeId != null" >
        technology_type_id = #{record.technologyTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.technologyTypeName != null" >
        technology_type_name = #{record.technologyTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update technology_type
    set technology_type_id = #{record.technologyTypeId,jdbcType=INTEGER},
      technology_type_name = #{record.technologyTypeName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <select id="selectByid"  resultType="java.lang.Integer" >
    select technology_type_id from technology_type
 
  </select>
  
  <!-- <resultMap type="com.dhcc.ict.manage.questionbank.pojo.TechnologyType" id="technologytypemap">
  <id column="technology_type_id" property="technologyTypeId" />
  <result column="technology_type_name" property="technologyTypeName"/>
  
  <collection property="technologyChooseOneys" ofType="com.dhcc.ict.manage.questionbank.pojo.TechnologyChooseOne">
   <id column="choose_one_id" property="chooseOneId"/>
   <result column="choose_one_detail" property="chooseOneDetail"/>
   <result column="choose_one_answer1" property="chooseOneAnswer1"/>
   <result column="choose_one_answer2" property="chooseOneAnswer2"/>
   <result column="choose_one_answer3" property="chooseOneAnswer3"/>
   <result column="choose_one_answer4" property="chooseOneAnswer4"/>
   <result column="choose_one_true_answer" property="chooseOneTrueAnswer"/>
   <result column="choose_one_complexity" property="chooseOneComplexity"/>

  </collection>
  
  </resultMap>
  
  <select id="selectOneTechnology"  resultMap="technologytypemap" >
    	select t.*,o.* 
    from 
    	technology_type t,technology_choose_one o 
    where 
    	t.technology_type_id = o.technology_type_id;
 
  </select> -->
  
  <select id="selectType"  resultMap="BaseResultMap" >
    	select * from technology_type 
  </select> 
  
  <insert id="insertTypeName" parameterType="java.lang.String" >
     insert into technology_type (technology_type_name
      )
    values ( #{technologyTypeName,jdbcType=VARCHAR}
      )
  </insert>
  
</mapper>