<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhcc.ict.manage.loginandregister.dao.ExamRecordMapper" >
  <resultMap id="BaseResultMap" type="com.dhcc.ict.manage.loginandregister.pojo.ExamRecord" >
    <constructor >
      <idArg column="exam_record_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="exam_starttime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="exam_endtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="exam_reality_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="choose_one_score" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="choose_much_score" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="choose_jurge" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_score" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_answer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="exam_question_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="technology_type_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="technology_test_complexity" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    exam_record_id, exam_starttime, exam_endtime, exam_reality_time, choose_one_score, 
    choose_much_score, choose_jurge, total_score, user_answer, user_id, exam_question_id, 
    technology_type_id, technology_test_complexity
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dhcc.ict.manage.loginandregister.pojo.ExamRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exam_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam_record
    where exam_record_id = #{examRecordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam_record
    where exam_record_id = #{examRecordId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dhcc.ict.manage.loginandregister.pojo.ExamRecordExample" >
    delete from exam_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dhcc.ict.manage.loginandregister.pojo.ExamRecord" >
    insert into exam_record (exam_record_id, exam_starttime, exam_endtime, 
      exam_reality_time, choose_one_score, choose_much_score, 
      choose_jurge, total_score, user_answer, 
      user_id, exam_question_id, technology_type_id, 
      technology_test_complexity)
    values (#{examRecordId,jdbcType=INTEGER}, #{examStarttime,jdbcType=TIMESTAMP}, #{examEndtime,jdbcType=TIMESTAMP}, 
      #{examRealityTime,jdbcType=INTEGER}, #{chooseOneScore,jdbcType=INTEGER}, #{chooseMuchScore,jdbcType=INTEGER}, 
      #{chooseJurge,jdbcType=INTEGER}, #{totalScore,jdbcType=INTEGER}, #{userAnswer,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{examQuestionId,jdbcType=INTEGER}, #{technologyTypeId,jdbcType=INTEGER}, 
      #{technologyTestComplexity,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dhcc.ict.manage.loginandregister.pojo.ExamRecord" >
    insert into exam_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="examRecordId != null" >
        exam_record_id,
      </if>
      <if test="examStarttime != null" >
        exam_starttime,
      </if>
      <if test="examEndtime != null" >
        exam_endtime,
      </if>
      <if test="examRealityTime != null" >
        exam_reality_time,
      </if>
      <if test="chooseOneScore != null" >
        choose_one_score,
      </if>
      <if test="chooseMuchScore != null" >
        choose_much_score,
      </if>
      <if test="chooseJurge != null" >
        choose_jurge,
      </if>
      <if test="totalScore != null" >
        total_score,
      </if>
      <if test="userAnswer != null" >
        user_answer,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="examQuestionId != null" >
        exam_question_id,
      </if>
      <if test="technologyTypeId != null" >
        technology_type_id,
      </if>
      <if test="technologyTestComplexity != null" >
        technology_test_complexity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="examRecordId != null" >
        #{examRecordId,jdbcType=INTEGER},
      </if>
      <if test="examStarttime != null" >
        #{examStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="examEndtime != null" >
        #{examEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="examRealityTime != null" >
        #{examRealityTime,jdbcType=INTEGER},
      </if>
      <if test="chooseOneScore != null" >
        #{chooseOneScore,jdbcType=INTEGER},
      </if>
      <if test="chooseMuchScore != null" >
        #{chooseMuchScore,jdbcType=INTEGER},
      </if>
      <if test="chooseJurge != null" >
        #{chooseJurge,jdbcType=INTEGER},
      </if>
      <if test="totalScore != null" >
        #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="userAnswer != null" >
        #{userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="examQuestionId != null" >
        #{examQuestionId,jdbcType=INTEGER},
      </if>
      <if test="technologyTypeId != null" >
        #{technologyTypeId,jdbcType=INTEGER},
      </if>
      <if test="technologyTestComplexity != null" >
        #{technologyTestComplexity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dhcc.ict.manage.loginandregister.pojo.ExamRecordExample" resultType="java.lang.Integer" >
    select count(*) from exam_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update exam_record
    <set >
      <if test="record.examRecordId != null" >
        exam_record_id = #{record.examRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.examStarttime != null" >
        exam_starttime = #{record.examStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.examEndtime != null" >
        exam_endtime = #{record.examEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.examRealityTime != null" >
        exam_reality_time = #{record.examRealityTime,jdbcType=INTEGER},
      </if>
      <if test="record.chooseOneScore != null" >
        choose_one_score = #{record.chooseOneScore,jdbcType=INTEGER},
      </if>
      <if test="record.chooseMuchScore != null" >
        choose_much_score = #{record.chooseMuchScore,jdbcType=INTEGER},
      </if>
      <if test="record.chooseJurge != null" >
        choose_jurge = #{record.chooseJurge,jdbcType=INTEGER},
      </if>
      <if test="record.totalScore != null" >
        total_score = #{record.totalScore,jdbcType=INTEGER},
      </if>
      <if test="record.userAnswer != null" >
        user_answer = #{record.userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.examQuestionId != null" >
        exam_question_id = #{record.examQuestionId,jdbcType=INTEGER},
      </if>
      <if test="record.technologyTypeId != null" >
        technology_type_id = #{record.technologyTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.technologyTestComplexity != null" >
        technology_test_complexity = #{record.technologyTestComplexity,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update exam_record
    set exam_record_id = #{record.examRecordId,jdbcType=INTEGER},
      exam_starttime = #{record.examStarttime,jdbcType=TIMESTAMP},
      exam_endtime = #{record.examEndtime,jdbcType=TIMESTAMP},
      exam_reality_time = #{record.examRealityTime,jdbcType=INTEGER},
      choose_one_score = #{record.chooseOneScore,jdbcType=INTEGER},
      choose_much_score = #{record.chooseMuchScore,jdbcType=INTEGER},
      choose_jurge = #{record.chooseJurge,jdbcType=INTEGER},
      total_score = #{record.totalScore,jdbcType=INTEGER},
      user_answer = #{record.userAnswer,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      exam_question_id = #{record.examQuestionId,jdbcType=INTEGER},
      technology_type_id = #{record.technologyTypeId,jdbcType=INTEGER},
      technology_test_complexity = #{record.technologyTestComplexity,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhcc.ict.manage.loginandregister.pojo.ExamRecord" >
    update exam_record
    <set >
      <if test="examStarttime != null" >
        exam_starttime = #{examStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="examEndtime != null" >
        exam_endtime = #{examEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="examRealityTime != null" >
        exam_reality_time = #{examRealityTime,jdbcType=INTEGER},
      </if>
      <if test="chooseOneScore != null" >
        choose_one_score = #{chooseOneScore,jdbcType=INTEGER},
      </if>
      <if test="chooseMuchScore != null" >
        choose_much_score = #{chooseMuchScore,jdbcType=INTEGER},
      </if>
      <if test="chooseJurge != null" >
        choose_jurge = #{chooseJurge,jdbcType=INTEGER},
      </if>
      <if test="totalScore != null" >
        total_score = #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="userAnswer != null" >
        user_answer = #{userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="examQuestionId != null" >
        exam_question_id = #{examQuestionId,jdbcType=INTEGER},
      </if>
      <if test="technologyTypeId != null" >
        technology_type_id = #{technologyTypeId,jdbcType=INTEGER},
      </if>
      <if test="technologyTestComplexity != null" >
        technology_test_complexity = #{technologyTestComplexity,jdbcType=VARCHAR},
      </if>
    </set>
    where exam_record_id = #{examRecordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhcc.ict.manage.loginandregister.pojo.ExamRecord" >
    update exam_record
    set exam_starttime = #{examStarttime,jdbcType=TIMESTAMP},
      exam_endtime = #{examEndtime,jdbcType=TIMESTAMP},
      exam_reality_time = #{examRealityTime,jdbcType=INTEGER},
      choose_one_score = #{chooseOneScore,jdbcType=INTEGER},
      choose_much_score = #{chooseMuchScore,jdbcType=INTEGER},
      choose_jurge = #{chooseJurge,jdbcType=INTEGER},
      total_score = #{totalScore,jdbcType=INTEGER},
      user_answer = #{userAnswer,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      exam_question_id = #{examQuestionId,jdbcType=INTEGER},
      technology_type_id = #{technologyTypeId,jdbcType=INTEGER},
      technology_test_complexity = #{technologyTestComplexity,jdbcType=VARCHAR}
    where exam_record_id = #{examRecordId,jdbcType=INTEGER}
  </update>
<!-- 管理员添加 -->
<resultMap type="com.dhcc.ict.manage.loginandregister.pojo.UserDetail" id="Score">
<id property="examRecordId" column="exam_record_id" />
<result property="chooseOneScore" column="choose_one_score" />
<result property="chooseMuchScore" column="choose_much_score" />
<result property="chooseJurge" column="choose_jurge" />
<result property="totalScore" column="total_score" />
<result property="userId" column="user_id" />
<result property="examQuestionId" column="examQuestion_id" />
<result property="technologyTypeId" column="technology_type_id" />
<result property="technologyTestComplexity" column="technology_test_Complexity" />
</resultMap>
<select id="searchScore" resultMap="Score">
select * from exam_record as e where e_id=user_id 
</select>
</mapper>